<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Charts</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <!-- Clean energy -->
    <div>
        <h2>Affordable and clean energy</h2>
        <h3>More people than ever have access to electricity, but the pace is lagging for least developed countries</h3>
            <p>Children affected by malnutrition – including stunting (low height for age), 
                wasting (low weight for height), micronutrient deficiencies, and by being 
                overweight – face heightened risks of poor growth and development. Despite 
                progress in certain regions, child malnutrition remains a global concern that 
                has been exacerbated by the ongoing food and nutrition crisis – with low- and lower-middle-income countries among those most affected.</p>
            {{ chart1_html|safe }}
        </div>

        <!-- Clean water -->
        <div>
            <h2>Affordable and clean energy</h2>
            <h3>More people than ever have access to electricity, but the pace is lagging for least developed countries</h3>
                <p>Children affected by malnutrition – including stunting (low height for age), 
                    wasting (low weight for height), micronutrient deficiencies, and by being 
                    overweight – face heightened risks of poor growth and development. Despite 
                    progress in certain regions, child malnutrition remains a global concern that 
                    has been exacerbated by the ongoing food and nutrition crisis – with low- and lower-middle-income countries among those most affected.</p>
                {{ chart2_html|safe }}
            </div>
        
        <!-- Decent work -->
        <div>
            <h2>Affordable and clean energy</h2>
            <h3>More people than ever have access to electricity, but the pace is lagging for least developed countries</h3>
                <p>Children affected by malnutrition – including stunting (low height for age), 
                    wasting (low weight for height), micronutrient deficiencies, and by being 
                    overweight – face heightened risks of poor growth and development. Despite 
                    progress in certain regions, child malnutrition remains a global concern that 
                    has been exacerbated by the ongoing food and nutrition crisis – with low- and lower-middle-income countries among those most affected.</p>
                {{ chart3_html|safe }}
            </div>
        
        <!-- Food waste -->
        <div>
            <h2>Affordable and clean energy</h2>
            <h3>More people than ever have access to electricity, but the pace is lagging for least developed countries</h3>
                <p>Children affected by malnutrition – including stunting (low height for age), 
                    wasting (low weight for height), micronutrient deficiencies, and by being 
                    overweight – face heightened risks of poor growth and development. Despite 
                    progress in certain regions, child malnutrition remains a global concern that 
                    has been exacerbated by the ongoing food and nutrition crisis – with low- and lower-middle-income countries among those most affected.</p>
                {{ chart4_html|safe }}
            </div>
        
        <!-- Childbirth -->
        <div>
            <h2>Affordable and clean energy</h2>
            <h3>More people than ever have access to electricity, but the pace is lagging for least developed countries</h3>
                <p>Children affected by malnutrition – including stunting (low height for age), 
                    wasting (low weight for height), micronutrient deficiencies, and by being 
                    overweight – face heightened risks of poor growth and development. Despite 
                    progress in certain regions, child malnutrition remains a global concern that 
                    has been exacerbated by the ongoing food and nutrition crisis – with low- and lower-middle-income countries among those most affected.</p>
                {{ chart5_html|safe }}
            </div>
        
        <!-- Hiv -->
        <div>
            <h2>Affordable and clean energy</h2>
            <h3>More people than ever have access to electricity, but the pace is lagging for least developed countries</h3>
                <p>Children affected by malnutrition – including stunting (low height for age), 
                    wasting (low weight for height), micronutrient deficiencies, and by being 
                    overweight – face heightened risks of poor growth and development. Despite 
                    progress in certain regions, child malnutrition remains a global concern that 
                    has been exacerbated by the ongoing food and nutrition crisis – with low- and lower-middle-income countries among those most affected.</p>
                {{ chart6_html|safe }}
            </div>
        
        <!-- Medical doctors vs nursing -->
        <div>
            <h2>Affordable and clean energy</h2>
            <h3>More people than ever have access to electricity, but the pace is lagging for least developed countries</h3>
                <p>Children affected by malnutrition – including stunting (low height for age), 
                    wasting (low weight for height), micronutrient deficiencies, and by being 
                    overweight – face heightened risks of poor growth and development. Despite 
                    progress in certain regions, child malnutrition remains a global concern that 
                    has been exacerbated by the ongoing food and nutrition crisis – with low- and lower-middle-income countries among those most affected.</p>
                {{ chart7_html|safe }}
            </div>
        
        <!-- Industry -->
        <div>
            <h2>Affordable and clean energy</h2>
            <h3>More people than ever have access to electricity, but the pace is lagging for least developed countries</h3>
                <p>Children affected by malnutrition – including stunting (low height for age), 
                    wasting (low weight for height), micronutrient deficiencies, and by being 
                    overweight – face heightened risks of poor growth and development. Despite 
                    progress in certain regions, child malnutrition remains a global concern that 
                    has been exacerbated by the ongoing food and nutrition crisis – with low- and lower-middle-income countries among those most affected.</p>
                {{ chart8_html|safe }}
            </div>
        
        <!-- Public transportation -->
        <div>
            <h2>Affordable and clean energy</h2>
            <h3>More people than ever have access to electricity, but the pace is lagging for least developed countries</h3>
                <p>Children affected by malnutrition – including stunting (low height for age), 
                    wasting (low weight for height), micronutrient deficiencies, and by being 
                    overweight – face heightened risks of poor growth and development. Despite 
                    progress in certain regions, child malnutrition remains a global concern that 
                    has been exacerbated by the ongoing food and nutrition crisis – with low- and lower-middle-income countries among those most affected.</p>
                {{ chart9_html|safe }}
            </div>

        <!-- Quality education -->
        <div>
            <h2>Affordable and clean energy</h2>
            <h3>More people than ever have access to electricity, but the pace is lagging for least developed countries</h3>
                <p>Children affected by malnutrition – including stunting (low height for age), 
                    wasting (low weight for height), micronutrient deficiencies, and by being 
                    overweight – face heightened risks of poor growth and development. Despite 
                    progress in certain regions, child malnutrition remains a global concern that 
                    has been exacerbated by the ongoing food and nutrition crisis – with low- and lower-middle-income countries among those most affected.</p>
                {{ chart10_html|safe }}
            </div>
        
        <!-- Overweight -->
        <div>
            <h2>Affordable and clean energy</h2>
            <h3>More people than ever have access to electricity, but the pace is lagging for least developed countries</h3>
                <p>Children affected by malnutrition – including stunting (low height for age), 
                    wasting (low weight for height), micronutrient deficiencies, and by being 
                    overweight – face heightened risks of poor growth and development. Despite 
                    progress in certain regions, child malnutrition remains a global concern that 
                    has been exacerbated by the ongoing food and nutrition crisis – with low- and lower-middle-income countries among those most affected.</p>
                {{ chart11_html|safe }}
            </div>
        
        <!-- Stunting -->
        <div>
            <h2>Affordable and clean energy</h2>
            <h3>More people than ever have access to electricity, but the pace is lagging for least developed countries</h3>
                <p>Children affected by malnutrition – including stunting (low height for age), 
                    wasting (low weight for height), micronutrient deficiencies, and by being 
                    overweight – face heightened risks of poor growth and development. Despite 
                    progress in certain regions, child malnutrition remains a global concern that 
                    has been exacerbated by the ongoing food and nutrition crisis – with low- and lower-middle-income countries among those most affected.</p>
                {{ chart12_html|safe }}
            </div>
    </div>
</body>
</html>
