<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EcoInsight</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    
    <!-- Nav-->
    <header class="header-nav">
        <div class="logo-container">
            <!-- Replace 'path/to/logo.svg' with the actual path to your SVG logo -->
            <img src="static/logo/logo.svg" alt="Logo">
        </div>
        <nav class="menu">
            <ul>
                <li><a href="#search" aria-label="Search"><i class="fa-solid fa-magnifying-glass"></i> Search</a></li>
                <li><a href="#report" aria-label="The Report"><i class="fa-regular fa-file"></i> The Report</a></li>
            </ul>
        </nav>
    </header>
    
    <!-- Search bar -->
    <div class="search-container" id="search">
        <label for="searchBar" class="search-label">Search:</label>
        <input type="text" id="searchBar" onkeyup="autocompleteSearch(this.value)" placeholder="Search here...">
        <button onclick="clearSearch()">Clear</button>
        <div id="autocomplete-list"></div>
    </div>
    
    <main>
    <div class="container">
        <div class="report" id="report">
        <h1><i class="fa-regular fa-file"></i> The Report</h1>
        </div>
        <div class="two-column-layout">
            <div class="column">
                <!-- First half of your paragraph -->
                <p>We have entered an age of polycrisis. Conflict, climate change, the lingering effects of the COVID-19 pandemic and other global challenges are threatening to derail hard-earned progress towards the SDGs.</p>
                <p>The climate crisis is worsening as greenhouse gas emissions continue to rise. The latest Intergovernmental Panel on Climate Change report finds that global temperature is already 1.1 °C above pre-industrial levels.</p>
            </div>
            <div class="column">
                <!-- Second half of your paragraph -->
                <p>Developing countries are grappling with an unprecedented rise in external debt following the pandemic, a situation compounded by inflation, rising interest rates, trade tensions and constrained fiscal capacity.</p>
                <p>The 2030 Agenda remains the clearest blueprint of humanity&apos;s highest aspirations.</p>
            </div>
        </div>
        

        <!-- Clean energy -->
        <div id="clean-energy">
            <div class="small-tag small-tag-energy">
                <i class="fa-solid fa-tag"></i> Energy
            </div>
            <h2><i class="fa-solid fa-lightbulb"></i> Advancing Sustainable Health and Development with Clean Energy</h2>
            <h3>{{ data1_title }}</h3>    
            <p>{{ data1_paragraph }}</p>
            <p class="smaller"><i class="fa-solid fa-circle-info"></i> Proportion of population with access to electricity, 2015 and 2021 (percentage)</p>
            <div class="content-container">
                <div class="chart-container" aria-label="Prioritizing Clean energy for Health and Sustainability">
                    {{ chart1_html|safe }}
                </div>
                <img src="/static/images/chart-01.jpg" alt="clean energy chart" class="mobile-chart-image" />
            </div>
        </div>

        <!-- Clean water -->
        <div id="clean-water">
            <div class="small-tag small-tag-water">
                <i class="fa-solid fa-tag"></i> Water
            </div>
            <h2><i class="fa-solid fa-droplet"></i> Water-Use Efficiency and Access to Clean Water</h2>
            <h3>{{ data2_title }}</h3>
            <p>{{ data2_paragraph }}</p>
            <p class="smaller"><i class="fa-solid fa-circle-info"></i> Water-use efficiency, 2015 and 2020 (USD/m3)</p>
            <div class="content-container">
                <div class="chart-container" aria-label="Bar chart displaying water-use efficiency in USD per cubic meter for the years 2015 and 2020, highlighting improvements in water management and access to clean water">
                    {{ chart2_html|safe }}
                </div>
                <img src="/static/images/chart-02.jpg" alt="clean water chart" class="mobile-chart-image" />
            </div>
        </div>
        
        
<!-- Decent work -->
<div id="decent-work">
    <div class="small-tag small-tag-work">
        <i class="fa-solid fa-tag"></i> Economic Growth
    </div>
    <h2><i class="fa-solid fa-briefcase"></i> Promoting Decent Work for Sustainable Growth</h2>
    <h3>{{ data3_title }}</h3>
    <p>{{ data3_paragraph }}</p>
    <p class="smaller"><i class="fa-solid fa-circle-info"></i> Annual growth rate of global real GDP per capita and annual growth rate of real GDP of LDCs, 2015–2024 (percentage)</p>
    <div class="content-container">
        <div class="chart-container" aria-label="Line chart comparing the annual growth rate of global real GDP per capita with the annual growth rate of real GDP of Least Developed Countries (LDCs) from 2015 to 2024, illustrating trends in economic growth and development">
            {{ chart3_html|safe }}
        </div>
        <img src="/static/images/chart-03.jpg" alt="economic growth chart" class="mobile-chart-image" />
    </div>
</div>

        
       <!-- Food waste -->
<div id="food-waste">
    <div class="small-tag small-tag-food">
        <i class="fa-solid fa-tag"></i> Food Waste
    </div>
    <h2><i class="fa-solid fa-bowl-food"></i> Tackling Food Waste for Environmental and Social Sustainability</h2>
    <h3>{{ data4_title }}</h3>
    <p>{{ data4_paragraph }}</p>
    <p class="smaller"><i class="fa-solid fa-circle-info"></i> Estimated total food waste and food waste in households per person, 2019 (kilograms) 
    </p>
    <div class="content-container">
        <div class="chart-container" aria-label="Bar chart showing estimated total food waste and per capita household food waste for the year 2019, in kilograms, highlighting the extent of food waste in different sectors">
            {{ chart4_html|safe }}
        </div>
        <img src="/static/images/chart-04.jpg" alt="food waste chart" class="mobile-chart-image" />
    </div>
</div>

        
<!-- Childbirth -->
<div id="childbirth">
    <div class="small-tag small-tag-health">
        <i class="fa-solid fa-tag"></i> Good Health
    </div>
    <h2><i class="fa-solid fa-heart-pulse"></i> Promoting Good Health in Childbirth</h2>
    <h3>{{ data5_title }}</h3>
    <p>{{ data5_paragraph }}</p>
    <p class="smaller"><i class="fa-solid fa-circle-info"></i> Proportion of births attended by skilled health personnel, 2015 and 2022 (percentage)</p>
    <div class="content-container">
        <div class="chart-container" aria-label="Bar chart showing the proportion of births attended by skilled health personnel in the years 2015 and 2022, expressed in percentage, to illustrate improvements in maternal healthcare">
            {{ chart5_html|safe }}
        </div>
        <img src="/static/images/chart-05.jpg" alt="childbirth chart" class="mobile-chart-image" />
    </div>
</div>

        
<!-- Hiv -->
<div id="hiv">
    <div class="small-tag small-tag-health">
        <i class="fa-solid fa-tag"></i> Good Health
    </div>
    <h2><i class="fa-solid fa-heart-pulse"></i> Combating HIV for Good Health</h2>
    <h3>{{ data6_title }}</h3>
    <p>{{ data6_paragraph }}</p>
    <p class="smaller"><i class="fa-solid fa-circle-info"></i> HIV incidence rates, 2010 and 2021 (new cases per 1,000 uninfected adults aged 15–49 years)</p>
    <div class="content-container">
        <div class="chart-container" aria-label="Line chart displaying the HIV incidence rates for the years 2010 and 2021, measured as new cases per 1,000 uninfected adults aged 15–49 years, to show trends in HIV prevalence">
            {{ chart6_html|safe }}
        </div>
        <img src="/static/images/chart-06.jpg" alt="hiv chart" class="mobile-chart-image" />
    </div>
</div>

        
<!-- Medical doctors vs nursing -->
<div id="medical-doctors-vs-nursing">
    <div class="small-tag small-tag-health">
        <i class="fa-solid fa-tag"></i> Good Health
    </div>
    <h2><i class="fa-solid fa-heart-pulse"></i> Medical Professionals: Balancing Roles of Doctors and Nurses in Promoting Good Health</h2>
    <h3>{{ data7_title }}</h3>    
    <p>{{ data7_paragraph }}</p>
    <p class="smaller"><i class="fa-solid fa-circle-info"></i> Density of select health professionals, 2014–2021 (per 10,000 population)</p>
    <div class="content-container">
        <div class="chart-container" aria-label="Bar chart showing the density of select health professionals, including medical doctors and nurses, per 10,000 population from 2014 to 2021, highlighting the distribution and availability of healthcare providers">
            {{ chart7_html|safe }}
        </div>
        <img src="/static/images/chart-07.jpg" alt="medical chart" class="mobile-chart-image" />
    </div>
</div>

        
<!-- Industry -->
<div id="industry-innovation">
    <div class="small-tag small-tag-industry">
        <i class="fa-solid fa-tag"></i> Industry Innovation
    </div>
    <h2><i class="fa-solid fa-industry"></i> Fostering Industry Innovation for Sustainable Development</h2>
    <h3>{{ data8_title }}</h3>
    <p>{{ data8_paragraph }}</p>
    <p class="smaller"><i class="fa-solid fa-circle-info"></i> Research and development expenditure as a proportion of GDP, 2015 and 2020 (percentage)</p>
    <div class="content-container">
        <div class="chart-container" aria-label="Line chart displaying research and development expenditure as a proportion of GDP for the years 2015 and 2020, expressed in percentage, to illustrate trends in investment in innovation and sustainable development">
            {{ chart8_html|safe }}
        </div>
        <img src="/static/images/chart-08.jpg" alt="industry chart" class="mobile-chart-image" />
    </div>
</div>

        
<!-- Public transportation -->
<div id="public-transporation">
    <div class="small-tag small-tag-transp">
        <i class="fa-solid fa-tag"></i> Sustainable Cities
    </div>
    <h2><i class="fa-solid fa-train-subway"></i> Enhancing Public Transportation for Sustainable Mobility</h2>
    <h3>{{ data9_title }}</h3>
    <p>{{ data9_paragraph }}</p>
    <p class="smaller"><i class="fa-solid fa-circle-info"></i> Coverage of public transport and share of population with convenient access in urban areas, 2022 (percentage)</p>
    <div class="content-container">
        <div class="chart-container" aria-label="Bar chart illustrating the coverage of public transport and the percentage of the urban population with convenient access to it in 2022, emphasizing the accessibility and reach of sustainable mobility options">
            {{ chart9_html|safe }}
        </div>
        <img src="/static/images/chart-09.jpg" alt="public transportation chart" class="mobile-chart-image" />
    </div>
</div>


<!-- Quality education -->
<div id="quality-education">
    <div class="small-tag small-tag-education">
        <i class="fa-solid fa-tag"></i> Quality Education
    </div>
    <h2><i class="fa-solid fa-shapes"></i> Enhancing Quality Learning through Collaborative Teaching</h2>
    <h3>{{ data10_title }}</h3>
    <p>{{ data10_paragraph }}</p>
    <p class="smaller"><i class="fa-solid fa-circle-info"></i> Participation rate in organized learning (one year before the official primary entry age), 2020 (percentage)</p>
    <div class="content-container">
        <div class="chart-container" aria-label="Line chart showing the participation rate in organized learning one year before the official primary entry age in 2020, expressed as a percentage, to highlight early childhood education trends and engagement">
            {{ chart10_html|safe }}
        </div>
        <img src="/static/images/chart-10.jpg" alt="quality education chart" class="mobile-chart-image" />
    </div>
</div>

        
<!-- Overweight -->
<div id="overweight-stunting">
    <div class="small-tag small-tag-hunger">
        <i class="fa-solid fa-tag"></i> Zero Hunger
    </div>
    <h2><i class="fa-solid fa-wheat-awn-circle-exclamation"></i> Combating Childhood Overweight and Stunting: A Multifaceted Approach for Healthier Generations</h2>
    <h3>{{ data11_title }}</h3>
    <p>{{ data11_paragraph }}</p>
    <p class="smaller"><i class="fa-solid fa-circle-info"></i> Proportion of children under age 5 who are overweight, 2012 and 2022 (percentage)</p>
    <div class="content-container">
        <div class="chart-container" aria-label="Bar chart displaying the proportion of children under age 5 who are overweight for the years 2012 and 2022, expressed as a percentage, to showcase the trends in child nutrition and health">
            {{ chart11_html|safe }}
        </div>
        <img src="/static/images/chart-11.jpg" alt="zero hunger chart" class="mobile-chart-image" />
    </div>
</div>

        
<!-- Stunting -->
<div id="zero-hunger-child-stunting">
    <div class="small-tag small-tag-hunger">
        <i class="fa-solid fa-tag"></i> Zero Hunger
    </div>
    <h2><i class="fa-solid fa-wheat-awn-circle-exclamation"></i> Tackling Zero-Hunger and Child Stunting</h2>
    <h3>{{ data12_title }}</h3>
    <p>{{ data12_paragraph }}</p>
    <p class="smaller"><i class="fa-solid fa-circle-info"></i> Number of children under age 5 who are affected by stunting, 2012 and 2022 (millions)</p>
    <div class="content-container">
        <div class="chart-container" aria-label="Line chart showing the number of children under age 5 affected by stunting in 2012 and 2022, measured in millions, to indicate progress and challenges in reducing child stunting as part of zero hunger initiatives">
            {{ chart12_html|safe }}
        </div>
        <img src="/static/images/chart-12.jpg" alt="Stunting chart" class="mobile-chart-image" />
    </div>
</div>

    </div>

</main>

<footer class="site-footer">
    <button onclick="scrollToTop()" id="topButton" title="Go to top">Top</button>   
    <p class="disclaimer">Disclaimer: This website is a student's project for learning Python. 
        The information presented on this website has been sourced from The Sustainable Development Goals Report 2023,<br> 
        as published by the United Nations. The copyright for this content is held by the United Nations. 
        To check the original whitepaper, please <a href="https://unstats.un.org/sdgs/report/2023/The-Sustainable-Development-Goals-Report-2023.pdf" target="_blank" aria-label="Open The Sustainable Development Goals Report 2023 PDF in a new window">click here</a>
    </p>
    <br>
    <p class="disclaimer"><a href="https://github.com/igordinuzzi" target="_blank" aria-label="Visit Igor's GitHub profile and view the source code repository. Made by Igor with love in 2023 ❤️"><i class="fa-brands fa-github"></i> Made by Igor ❤️</a>
    </p>
</footer>


<script src="{{ url_for('static', filename='js/autocomplete.js') }}"></script>
<script src="{{ url_for('static', filename='js/navigation.js') }}"></script>
</body>
</html>
